.sctn_main{
    min-height: 80vh;
    background-color: #f3f3f3;
    display: flex;
}

.toptxt{
    padding: 20px 0 ;
    font-size: 22px;
    font-weight: 500;
}

.showproducts{
    width: 60%;
    padding: 20px 40px;
}

.payment{
    width: 30%;
    padding: 20px 40px;
    margin: 100px 0;
}