.minus{
    background-color: #b928b4;
    padding: 2px 8px;
    border: none;
    border-radius: 4px;
    color: antiquewhite;
    font-size: 16px;
}

.plus{
    background-color: #b928b4;
    padding: 2px 8px;
    border: none;
    border-radius: 4px;
    color: antiquewhite;
    font-size: 16px;
}

.qtytxt{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    padding: 0 10px;
}